
[submodule "example-projects/abi_dependent_variants"]
	path = example-projects/abi_dependent_variants
	url = ../variant-abi-dependency-example

[submodule "example-projects/numpy"]
	path = example-projects/numpy
	url = ../numpy
	branch = wheel-variants

[submodule "example-projects/scikit-learn"]
	path = example-projects/scikit-learn
	url = ../scikit-learn

[submodule "example-projects/scipy"]
	path = example-projects/scipy
	url = ../scipy

[submodule "flit"]
	path = flit
	url = ../flit

[submodule "hatch"]
	path = hatch
	url = ../hatch

[submodule "meson-python"]
	path = meson-python
	url = ../meson-python
	branch = wheel-variants

[submodule "mockhouse"]
	path = mockhouse
	url = ../mockhouse
	branch = main

[submodule "packaging"]
	path = packaging
	url = ../packaging

[submodule "pip"]
	path = pip
	url = ../pip
	branch = pep-xxx-wheel-variants
	
[submodule "provider/blas-lapack"]
	path = plugins/blas-lapack-variant-provider
	url = ../blas-lapack-variant-provider

[submodule "provider/aarch64"]
	path = plugins/provider_variant_aarch64
	url = ../provider-variant-aarch64

[submodule "provider/nvidia"]
	path = plugins/nvidia_variant_provider
	url = ../nvidia-variant-provider.git
	branch = master

[submodule "provider/openmp"]
	path = plugins/openmp-variant-provider
	url = ../openmp-variant-provider

[submodule "provider/x86_64"]
	path = plugins/provider_variant_x86_64
	url = ../provider-variant-x86-64.git

[submodule "provider/huawei-ascend"]
	path = plugins/huawei-ascend-variant-provider
	url = ../huawei-ascend-variant-provider.git

[submodule "variantlib"]
	path = variantlib
	url = ../variantlib.git
	branch = main

[submodule "schema"]
	path = schema
	url = ../variants-schema
